<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>control.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLlenado</servlet-name>
        <servlet-class>control.ControladorLlenado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFormas</servlet-name>
        <servlet-class>control.ControladorFormas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdmin</servlet-name>
        <servlet-class>control.ControladorAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInventario</servlet-name>
        <servlet-class>control.ControladorRegresarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSelectProductos</servlet-name>
        <servlet-class>control.ControladorSelectProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarUsuario</servlet-name>
        <servlet-class>control.ControladorAgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEliminarUsuario</servlet-name>
        <servlet-class>control.ControladorEliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarMaterial</servlet-name>
        <servlet-class>control.ControladorAgregarMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarEquipo</servlet-name>
        <servlet-class>control.ControladorAgregarEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarReactivo</servlet-name>
        <servlet-class>control.ControladorAgregarReactivo</servlet-class>
    </servlet>ControladorAgregarConsumible
    <servlet>
        <servlet-name>ControladorAgregarConsumible</servlet-name>
        <servlet-class>control.ControladorAgregarConsumible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarLab</servlet-name>
        <servlet-class>control.ControladorAgregarLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCantidades</servlet-name>
        <servlet-class>control.ControladorCantidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAceptarPedido</servlet-name>
        <servlet-class>control.ControladorAceptarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegresarProducto</servlet-name>
        <servlet-class>control.ControladorRegresarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCambioContra</servlet-name>
        <servlet-class>control.ControladorCambioContra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSelectProfesor</servlet-name>
        <servlet-class>control.ControladorSelectProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSelectLabs</servlet-name>
        <servlet-class>control.ControladorSelectLabs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEliminarTodosUsuarios</servlet-name>
        <servlet-class>control.ControladorEliminarTodosUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedidos</servlet-name>
        <servlet-class>control.ControladorPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEliminarReporte</servlet-name>
        <servlet-class>control.ControladorEliminarReporte</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControladorAdmin</servlet-name>
        <url-pattern>/ControladorAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInventario</servlet-name>
        <url-pattern>/ControladorInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLlenado</servlet-name>
        <url-pattern>/ControladorLlenado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFormas</servlet-name>
        <url-pattern>/ControladorFormas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSelectProductos</servlet-name>
        <url-pattern>/ControladorSelectProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarUsuario</servlet-name>
        <url-pattern>/ControladorAgregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEliminarUsuario</servlet-name>
        <url-pattern>/ControladorEliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarMaterial</servlet-name>
        <url-pattern>/ControladorAgregarMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarEquipo</servlet-name>
        <url-pattern>/ControladorAgregarEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarReactivo</servlet-name>
        <url-pattern>/ControladorAgregarReactivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarConsumible</servlet-name>
        <url-pattern>/ControladorAgregarConsumible</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCantidades</servlet-name>
        <url-pattern>/ControladorCantidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarLab</servlet-name>
        <url-pattern>/ControladorAgregarLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAceptarPedido</servlet-name>
        <url-pattern>/ControladorAceptarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegresarProducto</servlet-name>
        <url-pattern>/ControladorRegresarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCambioContra</servlet-name>
        <url-pattern>/ControladorCambioContra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSelectProfesor</servlet-name>
        <url-pattern>/ControladorSelectProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSelectLabs</servlet-name>
        <url-pattern>/ControladorSelectLabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorEliminarTodosUsuarios</servlet-name>
        <url-pattern>/ControladorEliminarTodosUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorPedidos</servlet-name>
        <url-pattern>/ControladorPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorEliminarReporte</servlet-name>
        <url-pattern>/ControladorEliminarReporte</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
